@import '../../../styles/mixins.scss';

.signup {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  @include flex(row, center, space-between);
  gap: 20px;

  @include lg-max {
    flex-direction: column-reverse;
    justify-content: center;
  }

  @include sm-max {
    width: 95%;
  }

  form {
    width: 50%;

    @include lg-max {
      width: 100%;
    }
  }
}
