@import '../../../styles//mixins.scss';

@keyframes spinner {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

.spinerWraper {
  @include flex(column, center, flex-start);
  position: relative;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  width: 60%;

  @media screen and (max-width: 1111px) {
    width: 100%;
  }

  .spinner {
    width: 200px;
    height: 200px;
    border: 10px solid var(--color-main);
    border-top: 10px solid transparent;
    border-radius: 50%;
    animation: spinner 4s infinite;
  }

  p {
    @include flex(row, center, center);
    gap: 10px;

    svg {
      font-size: 30px;
    }
  }
}
