@import '../../../../styles/mixins.scss';

.eventsWrap {
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
  color: var(--color-main);
  gap: 20px;
  padding: 17px 0;
  text-transform: uppercse;
  border-top: 1px var(--color-grey) solid;
  border-bottom: 1px var(--color-grey) solid;

  @media screen and (max-width: 1111px) {
    width: 100%;
  }
}
