@import '../../../styles/mixins.scss';

.userWrap {
  z-index: 999;
  @include flex(row, center, flex-end);
  gap: 20px;
  padding: 17px;

  @include xl-max {
    justify-content: center;
  }

  @include sm-max {
    flex-wrap: wrap-reverse;
  }

  .text {
    width: 80%;
    background-color: var(--color-light);
    padding: 20px 15px;
    border-radius: 30px;
    position: relative;
    text-align: center;

    .ikonError {
      font-size: 2rem;
      color: var(--color-error);
    }

    .ikonOk {
      font-size: 2rem;
      color: var(--color-ok);
    }

    @include sm-max {
      width: 100%;
    }

    span {
      color: var(--color-main);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -12px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid var(--color-light);
      transform: translateY(-50%) rotate(-90deg);
      @include shadow;
    }
  }

  .imgWrap {
    width: 75px;
    height: 75px;
    background-color: var(--color-light);
    padding: 8px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    img {
      @include img;
      object-fit: contain;
    }
  }
}

.fadeIn {
  display: none;
}
