@import '../../../styles/mixins.scss';

.userWrap {
  position: fixed;
  z-index: 999;
  right: 0;
  @include flex(row, flex-end, flex-end);
  gap: 20px;
  width: calc(100% - 250px);
  flex-wrap: nowrap;
  padding: 10px 30px;
  background-color: var(--color-main);

  @include md-max {
    width: 100%;
  }

  .imgWrap {
    width: 70px;
    height: 70px;
    background-color: var(--color-light);
    padding: 8px;
    border-radius: 50%;

    img {
      @include img;
      object-fit: contain;
    }
  }
}
