@import '../../../styles/mixins.scss';

.logo {
  width: 100%;
  @include flex(row, center, flex-start);
  flex-wrap: wrap;
  gap: 10px;
  color: var(--color-light);
  padding-left: 10px;

  .imgWrap {
    width: 56px;
    height: 56px;

    img {
      width: 100%;
      max-width: 80px;
      height: auto;
      object-fit: cover;
    }
  }

  .text {
    max-width: 300px;

    @include sm-max {
      font-size: calc(var(--base-size) * 1.5);
    }
  }
}
