@import '../../../styles/mixins.scss';

.logo {
  @include flex(row, center, center);
  flex-wrap: wrap;
  gap: 10px;

  .imgWrap {
    width: 70px;
    height: 70px;

    img {
      width: 100%;
      max-width: 80px;
      height: auto;
      object-fit: cover;
    }
  }

  .text {
    max-width: 300px;

    @include sm-max {
      font-size: calc(var(--base-size) * 1.5);
    }
  }
}
