@import '../../../../styles//mixins.scss';

.tasksList {
  position: absolute;
  width: calc(100% - 33%);
  height: 100%;
  padding: 17px;

  overflow-y: scroll;
  @include flex(column, flex-start, flex-start);
  gap: 30px;

  @include lg-max {
    width: 100%;
  }
}
