@import '../../../../styles//mixins.scss';

.tasksList {
  position: absolute;
  border-radius: 30px 0 0 30px;
  width: calc(100% - 33%);
  height: 100%;
  padding: 30px;
  overflow-y: scroll;

  @include flex(column, flex-start, flex-start);
  gap: 30px;
}
