@import '../../../styles/mixins.scss';

.sectionHeader {
  text-transform: uppercase;

  padding: 17px;
  border-bottom: 1px var(--color-grey) solid;
  @include flex(row, center, space-between);

  @include md-max {
    text-align: center;
    width: 95%;
  }

  h2 {
    font-size: 17px;
  }
}
