@import '../../../styles/mixins.scss';

.sectionHeader {
  text-transform: uppercase;
  font-size: 17px;
  padding: 17px;
  border-bottom: 1px var(--color-grey) solid;
  width: 100%;

  @include md-max {
    text-align: right;
    width: 95%;
  }
}
