@import '../../../styles/mixins.scss';

.cart {
  width: 100%;
  border-radius: 30px;
  @include flex(row, center, space-between);
  flex-wrap: wrap;
  cursor: pointer;
  z-index: 888;
  margin: 20px 0;

  &:hover {
    @include shadow;
    z-index: 999;
  }

  .cartImage {
    @include flex(column, center, center);
    border-radius: 30px 0 0 30px;
    width: 250px;
    height: 100px;
    min-height: 100%;
    padding: 20px;
    font-size: 4.5rem;
  }

  .cartText {
    min-height: 100px;

    width: calc(100% - 250px);
    padding: 0px 30px;
    text-align: justify;
    @include flex(column, center, center);

    h2 {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

.cart {
  background-color: var(--color-light-purple);

  background-color: var(--color-light-main);
  color: var(--color-main);

  .cartImage {
    background-color: darken($color: #f4f4fe, $amount: 8);
  }

  .cartTasksOpen {
    p {
      background-color: var(--color-main);
      &:hover {
        background: var(--color-danger);
      }
    }
  }
}

.cartTasksClosed {
  max-height: 0;
  opacity: 0;
  transform: translateY(0%);
  transition: max-height 0.25s ease-in-out, opacity ease-in-out 0s,
    transform 0.3s ease-in-out;
  width: 100%;
  @include flex(row, center, flex-end);
  margin: 0 20px;
  gap: 20px;
}

.cartTasksOpen {
  transform: translateY(0%);
  opacity: 1;
  transition: max-height 0.25s ease-in-out, opacity ease-in-out 0.25s,
    transform 0.3s ease-in-out;
  width: 100%;
  @include flex(row, center, flex-end);
  padding: 20px 20px 20px 0;
  gap: 20px;
}
