@import '../../../styles/mixins.scss';

.controlPanel {
  width: 33%;
  min-height: calc(100vh - 34px);
  @include flex(column, stretch, flex-start);
  background-color: var(--color-grey);
  position: relative;
  border-radius: 0 30px 30px 0;
  transition: transform 0.3s ease-in-out;
  z-index: 988;

  @include xl-max {
    width: 50%;
  }

  @include lg-max {
    width: 50%;
  }

  @include md-max {
    width: 100%;
    min-height: 30vh;
  }
}
