@import '../../../styles/mixins.scss';

.eventWrap {
  width: 100%;
  display: flex;

  @include md-max {
    padding-bottom: 20px;
    flex-direction: column;
  }
}

.addBtn {
  display: none;

  @include md-max {
    display: block;
    padding: 0 17px 0 17px;
  }
}

.none {
  display: none;
}
