@import '../../../styles/mixins.scss';

.actions {
  @include flex(column, stretch, center);
  flex-wrap: wrap;
  gap: 17px;
  padding: 17px;

  width: 100%;
}

.chooseFile {
  width: 100%;

  div {
    width: 100%;
    padding: 0;
  }
}

.text {
  padding: 0 17px;
}
