@import '../../../../styles//mixins.scss';

.tasksList {
  width: calc(100% - 33%);
  min-height: 60vh;
  padding: 17px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;

  @include lg-max {
    width: 100%;
  }

  .task {
    h2 {
      padding: 17px;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: justify;
    }
  }
}
