@import '../../../../styles/mixins.scss';

.cart {
  width: 100%;
  border-radius: 30px;
  cursor: pointer;

  background-color: var(--color-light-main);
  color: var(--color-main);
  z-index: 1;

  &:hover {
    @include shadow;
    z-index: 999;
  }
}

.cartTasksClosed {
  max-height: 0;
  opacity: 0;
  transform: translateY(0%);
  transition: max-height 0.25s ease-in-out, opacity ease-in-out 0s,
    transform 0.3s ease-in-out;
  width: 100%;
  @include flex(row, center, flex-end);
  margin: 0 20px;
  gap: 20px;
}

.cartTasksOpen {
  transform: translateY(0%);
  opacity: 1;
  transition: max-height 0.25s ease-in-out, opacity ease-in-out 0.25s,
    transform 0.3s ease-in-out;
  width: 100%;
  @include flex(row, center, flex-end);
  padding: 20px 20px 20px 0;
  gap: 20px;

  p {
    background-color: var(--color-main);
    &:hover {
      background: var(--color-danger);
    }
  }
}
