:root {
  /* Colors */
  --color-light: #fff;
  --color-dark: #080808;
  --color-main: #5955b3;
  --color-grey: #eeedf1;
  --color-dark-grey: #e3e3e3;
  --color-light-purple: #f7ecfc;
  --color-light-peach: #fbecf1;
  --color-light-main: #f4f4fe;
  --color-purple: #c37ee2;
  --color-peach: #e37da2;
  --color-danger: #6a226b;
  --color-error: #ce1e1e;
  --color-ok: #3f9219;

  /* Fonts */
  --font-text: 'Poppins', sans-serif;

  --radius: 5px;
  --base-size: 12px;
  --transition: all 0.5s;

  /* Response */

  --screen-xxl: 1400px;
  --screen-xl: 1200px;
  --screen-l: 992px;
  --screen-md: 768px;
  --screen-sm: 576px;
}
