@import '../../../../styles/mixins.scss';

.componentWrap {
  width: 100%;
  @include flex(column, stretch, flex-end);
  padding: 25px;
  color: var(--color-main);

  .buttonWrap {
    @include flex(row, center, center);
    margin-top: 35px;
    gap: 20px;
    flex-wrap: wrap;
  }
}
.error {
  color: var(--color-error);
  padding: 20px;
}

.success {
  color: green;
}
