@import '../../../styles//mixins.scss';

.tasksList {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 17px;
  z-index: 1;
  position: relative;

  @include lg-max {
    article:last-child {
      grid-column: 1 / -1;
    }
  }

  @include md-max {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  @include sm-max {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
