@import '../../../styles/mixins.scss';

.navigation {
  position: fixed;
  @include flex(column, flex-start, flex-start);
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  padding: 20px 0;
  background-color: var(--color-dark);
  z-index: 999;
}

.cockpit {
  position: absolute;
  width: calc(100vw - 250px);
  min-height: 100vh;
  right: 0;
  padding: 17px;
  color: var(--color-dark);
  @include flex(column, stretch, flex-start);

  gap: 17px;

  @include md-max {
    width: 100%;
  }
}

.toggleHorizontal {
  transform: translate(0);

  @include md-max {
    transform: translateX(-100%);
  }
}
