@import '../../../styles/mixins.scss';

.navigation {
  position: fixed;
  @include flex(column, flex-start, flex-start);
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  padding: 20px 0;
  background-color: var(--color-dark);
  z-index: 999;
}

.cockpit {
  position: absolute;
  border-radius: 30px;
  width: calc(100vw - 284px);
  background-color: var(--color-light);
  color: var(--color-dark);
  min-height: calc(100vh - 34px);
  top: 17px;
  right: 17px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  @include md-max {
    width: calc(100vw - 34px);
  }
}

.toggleHorizontal {
  transform: translate(0);

  @include md-max {
    transform: translateX(-100%);
  }
}
