@import '../../../styles/mixins.scss';

.navigation {
  position: fixed;
  @include flex(column, flex-start, flex-start);
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  transition: transform 0.3s ease-in-out;
  padding: 20px 0;
  background-color: var(--color-dark);
}

.cockpit {
  position: absolute;
  border-radius: 30px;
  width: calc(100vw - 267px);
  background-color: var(--color-light);
  color: var(--color-dark);
  min-height: calc(100vh - 34px);

  top: 17px;
  right: 0;
}

.toggleHorizontal {
  transform: translate(0);

  @include md-max {
    transform: translateX(-100%);
  }
}
