@import '../../../styles/mixins.scss';

.welcome {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;

  @include sm-max {
    @include flex(column, center, center);
  }

  article {
    @include flex(column, stretch, center);
    width: 66.6%;
    margin: 0 auto;
    height: 100vh;
    gap: 30px;

    @include lg-max {
      width: 90%;
      height: auto;
      margin: 30px auto;
    }
  }
}
