@import '../../../styles/mixins.scss';

.welcome {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
  min-height: calc(100vh - 60px);
  @include flex(row, center, space-between);
  gap: 20px;

  @include lg-max {
    flex-direction: column-reverse;
    justify-content: center;
  }

  @include sm-max {
    width: 95%;
  }

  article {
    width: 50%;
    @include flex(column, stretch, space-between);
    gap: 20px;

    @include lg-max {
      width: 100%;
    }
  }

  .btns {
    @include flex(row, center, space-between);
    gap: 20px;
    padding: 40px 0;

    a {
      width: 100%;
    }
    @include sm-max {
      flex-direction: column;
    }
  }
}
