@import '../../../../styles/mixins.scss';

.icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  transition: var(--transition);
  cursor: pointer;

  &:hover {
    color: var(--color-danger);
  }
}
