@import '../../../styles/mixins.scss';

.showForm {
  position: absolute;
  right: 100%;
  background-color: var(--color-grey);
  width: 150%;
  @include shadow;

  @include xl-max {
    width: 100%;
  }

  @include md-max {
    position: relative;
    right: 0;
  }
}

.toggleHorizontal {
  position: absolute;
  right: 150%;
  width: 150%;
  transform: translate(-100%, 0);
  background-color: var(--color-grey);

  @include md-max {
    transform: translate(0%, 0);
  }
}

.controlPanel {
  height: 100%;
  transition: transform 0.3s ease-in-out;
  z-index: 888;
  @include flex(column, flex-end, center);
}

.buttonAdd {
  display: block;
  z-index: 999;
}

.none {
  display: none;
}

.close {
  font-size: 1.2rem;
  text-align: center;
  width: 50px;
  cursor: pointer;

  @include md-max {
    padding: 17px 0;
  }
}
