@import '../../../styles//mixins.scss';

.componentWrap {
  @include flex(column-reverse, center, center);
  flex-wrap: nowrap;
  background-color: var(--color-main);
  padding: 0 40px;
  position: absolute;

  width: calc(95%);
  gap: 0px;

  @include xl-min {
    gap: 80px;
    @include flex(row, center, space-around);
  }

  @include sm-max {
    width: 90%;
    padding: 10px;
  }

  .infoWrap {
    @include flex(column, center, center);
    gap: 40px;
  }

  .imgWrap {
    background-color: var(--color-main);
    width: 50%;
    overflow: hidden;
    padding: 20px;

    @include lg-max {
      width: 100%;
    }

    @include sm-max {
      width: 90%;
      padding: 10px;
    }
  }
}
