@import '../../../styles/mixins.scss';

.wrap {
  @include flex(row, center, space-around);
  width: 100%;
  height: 97vh;

  @include lg-max {
    flex-direction: column;
  }

  img {
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    width: 45%;
    height: 500px;

    @include lg-max {
      width: 100%;
    }
  }

  .info {
    gap: 20px;
    padding: 30px;
    width: 50%;
    height: 500px;
    border-radius: 30px;
    background-color: var(--color-light);

    @include lg-max {
      margin: 20px auto;
      width: 100%;
    }

    @include sm-max {
      width: 100%;
      padding: 10px;
      height: auto;
    }
  }
}
