@import '../../../styles/mixins.scss';

.paragraph {
  text-align: justify;
  margin: 8px 0;
  @include flex(column, flex-start, center);

  strong {
    margin-right: 10px;
    color: var(--color-main);
  }
}
