@import '../../../styles/mixins.scss';

.footer {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  @include flex(row, center, space-between);
  text-align: center;
  color: var(--color-dark);

  @include lg-max {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @include md-max {
    flex-direction: column;
    text-align: justify;
  }

  &.cockpitView {
    color: var(--color-dark);
  }

  .info {
    font-size: 0.9rem;

    @include sm-max {
      margin-bottom: 20px;
    }
  }

  .links {
    @include flex(row, center, flex-end);
    gap: 15px;
    width: 30%;

    @include md-max {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }

    a {
      color: var(--color-dark);
      font-size: 1.2rem;
      transition: color 0.3s;

      &:hover {
        color: var(--color-light);
      }
    }
  }
}
