@import '../../../styles/mixins.scss';

.login {
  width: 80%;
  margin: auto;

  @include md-max {
    width: 95%;
  }
}

.cockpitView {
  width: calc(100% - 250px);
  margin: 0 0 0 auto;
  padding: 17px 20px;

  @include md-max {
    width: 100%;
  }
}

.footer {
  @include flex(row, center, space-between);
  flex-wrap: wrap;
  color: var(--color-dark);

  .links {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 15px;

    a {
      color: var(--color-dark);
      height: 20px;

      svg {
        font-size: 20px;
      }
    }
  }
}
