@import '../../../styles/mixins.scss';

.map {
  background-color: green;
  width: 100%;
  min-height: 70vh;
  height: 85vh;
  position: relative;

  @include md-max {
    min-height: 30vh;
    height: 30vh;
  }
}

.title {
  font-size: 15px;
  font-family: var(--font-text);
  margin: 10px 10px;
  width: auto;
  color: var(--color-main);
  text-transform: uppercase;
  text-align: center;
}
